header 
    section(class=sec-1)
        .container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex
                .container-fluid
                    a.navbar-brand(href="#")
                        img(src="assets/imgs/Vector Smart Object.png", alt="")
                        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarScroll", aria-controls="navbarScroll", aria-expanded="false", aria-label="Toggle navigation")
                            span.navbar-toggler-icon
                    ul.nav.justify-content-end
                        li.nav-item
                            a.nav-link.active(href="#") ABOUT
                        li.nav-item
                            a.nav-link(href="#") SERVICES
                        li.nav-item
                            a.nav-link(href="#") PORTFOLIO
                        form.d-flex
                            a(href="#")
                                i.fas.fa-search
                            a(href="#") 
                                i.fas.fa-bars
            div 
                h2 
                    | Lorem ipsum dolor sit amet 
                p 
                    | Proin bibendum placerat liberat aporttitor. Donec vestibulum at augue venenatis aliquam Donec dolor elit, lacinia nec purus eget, fringilla fringilla massa 
                p 
                    | Phasellus congue metus vel lorem faucibus, eget vulputate elit iaculis.
            div 
                .row 
                    .col-2
                    .col-2
                        div
                            img(src="assets/imgs/Object2.png", alt="") 
                            a(href="#") 
                                | Chat
                    .col-2
                        div
                            img(src="assets/imgs/Vector Smart Object3.png", alt="") 
                            a(href="#") 
                                | Call 
                    .col-2
                         div
                            img(src="assets/imgs/Vector Smart Object5.png", alt="") 
                            a(href="#") 
                                | Email
                    .col-2
                        div
                            img(src="assets/imgs/Vector Smart Object6.png", alt="") 
                            a(href="#")  
                                | adress
                    .col-2